body {
    background-color: #7AAFAC;
}

h1,h2, h3 {
    text-align:center
}

.center {
    width: 50vw;
    height: 50vh;
    background-color: #D1EDEA;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    border-radius: 64px;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.half-size {
    width: 50%;
}

.center-horizontal {
    width: 50%;
    margin: 0 auto;
}

.btn-red {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
th {
    text-align: left;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #D1EDEA;
}

.container {
    width: 750px;
    padding-top: 15;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 16px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.left {
    float: left;
    color: #ffffff;
    filter: brightness(0) invert(1);
}

.right {
    float: right;
    color: #ffffff;
}

li.left a:visited {
    color:#ffffff;
} 

.goBack {
    color: #e74c3c;
    cursor: pointer;
}

.contactContainer {
    padding-top: 15px;
}